body{
    background-color: #E4E9F7;
    
}

.col-lg-2 .text .active{
    background-color: rgb(43, 174, 226);
   
}


.col-lg-2 a{
   top: 20px;
}

 a {
    padding: 10px;
	line-height: 30px;
	border-radius:5px;
    font-size: 15px;
	position:relative;
    font-weight: 400;
    display: block;
}



a i{
    position: relative;
    margin-right: 12px;
    top: 5px;
	color: #0961b3;
    margin-left: 10px;
}







/***** Navigation *****/




 

  